body {
  background: #191919;
  font-family: "Poppins", "Raleway", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
}

.bg-purple {
  background: #741ee1;
}
.text-purple {
  color: #741ee1;
}
.border-purple {
  border-color: #741ee1;
}
.btn-purple {
  background: #741ee1;
  color: #fff;
  box-shadow: none !important;
  border: none !important;
}
.btn-purple:hover {
  background: #a265f1;
  color: #fff;
}
.btn-purple:focus {
  background: #741ee1 !important;
  color: #fff;
  border: none !important;
  box-shadow: none !important;
}
.text-light-silver {
  color: #afa6bc;
}

.font-weight-bolder {
  font-weight: 800 !important;
}
