body {
  font-family: "Poppins", "Raleway", "Helvetica", "Arial", sans-serif;
}
.bg-purple {
  background: #741ee1;
}
.text-purple {
  background: #741ee1;
}
.border-purple {
  border-color: #741ee1;
}
.btn-purple {
  background: #741ee1;
  color: #fff;
  border-color: #741ee1;
}
.btn-purple:hover {
  background: rgba(0, 0, 0, 0.61);
  color: #fff;
  border-color: transparent;
}
